<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Form Processor</title>
    <link rel="stylesheet" href="/form-style.css">
</head>
<body>
    <h1>Web Form Processor</h1>
    <form action="/routes/name" method="get">
       
        <div>
            <label>First Name :</label>
            <input type="text" name="first"><br>
            <label>Last Name :</label>
            <input type="text" name="last">
        </div>

        <div>
            <button type="submit">Submit</button>
            <button type="submit" formmethod="post">Submit using POST</button>
             <button type="reset">Reset</button>
      </div>
          
    </form> 
<script>
    const first = document.querySelector('input');
    first.focus();

    const resetBtn = document.querySelector("button[type='reset']");
    resetBtn.addEventListener('click',() => first.focus());
</script> 
</body>
</html>

 <!--  The action attribute specifies the URL where the form data will be sent upon submission.In this case, it's set to "/routes/name". The method attribute specifies the HTTP method to be used when submitting the form. Here, it's set to "get", which means the form data will be appended to the URL as query parameters. -->

 <!-- The first button has a type attribute set to "submit", indicating that it will submit the form using the method specified in the form's attributes (which is "get" in this case).  -->

  <!-- However, the second button in the form has the formmethod attribute set to "post". This attribute instructs the browser to use the POST method specifically when this button is clicked, regardless of the method specified in the <form> tag. -->

      <!--  The third button has a type attribute set to "reset", indicating that it will reset all form fields to their initial values when clicked. -->